.link1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.link2 {
  float: left;
}
.link2 a {
  display: block;
  color: rgb(171, 57, 247);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.link2 a:hover:not(.active) {
  background-color: rgb(83, 83, 83);
}
body{
  background-image: url(hatter.jpg);
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: rgb(171, 57, 247);
}
img, video
{
  width: 100%;
}
h1, p{
  font-size: 3vw ;
  text-align: center;
}